body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  color: #00377D;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  background-color: #f7f7f7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #00377D;
  margin-bottom: 20px;
}

.result-section {
  margin-top: 20px;
}

.result-label {
  font-weight: bold;
}

.result-value {
  color: #FABE00;
  font-size: 24px;
  margin-bottom: 20px;
}

.btn-back {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #FABE00;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}

.btn-back:hover {
  background-color: #F0A500;
}

.cost-box {
        border-top: 1px solid #ccc;
        padding-top: 10px;
        margin-top: 10px;
}

.cost-label {
  font-weight: bold;
}
.cta-button {
  display: inline-block;
  background-color: #ffc107;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
}
.cta-button:hover {
  background-color: #e0a800;
}
.cta-button.play-store {
  background-image: url('https://example.com/google-play-store-icon.png');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px 20px;
  padding-left: 40px;
}